@import 'node_modules/bootstrap/scss/bootstrap'; 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text{
    color: white;
    
}

.bg-footer{
    background-image: linear-gradient(to top, #285a8c, #66cc99);
   
}

.title-footer{
    color: #285a8c;
}

.size-icon{
    font-size: 25px;
}